* {
    margin: 0;
    font-family: Arial;
    box-sizing: border-box;
}

body {
    padding-top: 70px;
}

.navbar {
    height: 70px;
    background-color: #0F1111;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: #131a22;
    cursor: pointer;
}

.nav-logo {
     margin-left: 25px;
}

.nav-logo .amazon-logo {
    background-image: url("./images/amazon_logo.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 40px;
    width: 120px;
}

.border {
    border: 2px solid transparent;
    padding: 5px;
}

.border:hover {
    border: 2px solid white;
}

/** box 2 **/

.nav-location {
    display: flex;
}
.nav-location p {
    color: #cccccc;
    font-size: 1rem;
}

.location-icon {
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-right: 5px;
}

/** box 3  **/

.nav-search {
    display: flex;
    justify-content: space-evenly;
    border-radius: 4px;
    width: 600px;
    height: 40px;
}

.search-select {
    background-color: #dfe3e2;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: rgb(240, 186, 7);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.search-icon:hover {
    background-color: rgb(240, 151, 7);
}

.search-select:hover {
    background-color: rgb(232, 238, 241);
}

.nav-search:hover {
    border: 3px solid orange;
}


/**  Box 4 **/


.nav-country {
    display: flex;
    align-items: center;
    gap: 5px;
}

.country-logo {
    background-image: url("./images/india_logo.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 20px;
    width: 30px;
}

.nav-country .span {
    font-size: 1rem;
    font-weight: 700;
}



/** Box 5 **/


.nav-sign-in span {
    font-size: 0.75rem;
    margin-left: 3px;
}

.nav-sign-in .second-line {
    font-size: 1rem;
    font-weight: 700;
}


/**  Box 6  **/


.nav-orders span {
    font-size: 0.75rem;
    margin-left: 3px;
}

.nav-orders .second-line {
    font-size: 1rem;
    font-weight: 700;
}


/**  Box 7  **/


.nav-cart {
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-right: 30px;
}
.nav-cart span {
    font-size: 1rem;
    font-weight: 700;
}



/***   PANEL   ***/


.panel {
    height: 40px;
    background-color: rgb(52, 59, 88);
    color: white;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 0.9rem;
}

.panel-all {
    display: flex;
    align-items: center;
    margin-left: 20px;
    gap: 5px;
    cursor: pointer;
}

.panel-options {
    display:flex;
    align-items: center;
    flex: 1;
    justify-content: space-evenly;
}

.panel-options p{
    cursor: pointer;
}



/****     HERO SECTION     ****/



.hero-section {
    background-image: url("./images/hero_image.jpg");
    background-size: cover;
    height: 400px;
    cursor: pointer;
}



/****     SHOP 1 SECTION     ****/




.shop-section {
    background-color: rgb(213, 218, 218);
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    gap: 20px;
}

.box {
    border: 2px solid black;
    background-color: white;
    width: 350px;
    padding: 15px;
    margin-top: 20px;
    border: none;
}

.shop1-content h2 {
    font-size: 21px;
    margin-bottom: 15px;
}

.shop1-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.shop1-img {
    aspect-ratio: 4 / 3;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.shop1-grid p {
    margin-top: 5px;
    font-size: 0.8rem;
}

.shop1-content {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
}

.shop1-content .see-more {
    font-size: 0.9rem;
    color: #1560BD;
    cursor: pointer;
    text-decoration: none;
    margin-top: 20px;
    display: inline-block;
    margin-bottom: 5px;
}

.shop1-content .see-more:hover {
    color: rgb(49, 47, 52);
}





/****     SHOP 2   SECTION     ****/





.shop2-content h2 {
    font-size: 21px;
    margin-bottom: 35px;
}

.shop2-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    row-gap: 25px;
}

.shop2-img {
    aspect-ratio: 4 / 3;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.shop2-grid p {
    margin-top: 5px;
    font-size: 0.8rem;
}

.shop2-content {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
}

.shop2-content .see-more {
    font-size: 0.9rem;
    color: #1560BD;
    margin-top: 25px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 5px;
}

.shop2-content .see-more:hover {
    color: rgb(49, 47, 52);
}





/****     SHOP 3   SECTION     ****/






.shop3-content h2 {
    font-size: 21px;
    margin-bottom: 10px;
}

.shop3-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.shop3-grid .shop3-img {
    aspect-ratio: 1 / 1;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.shop3-content {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
}

.shop3-content .shop-now {
    font-size: 0.9rem;
    color: #1560BD;
    cursor: pointer;
    text-decoration: none;
    margin-top: auto;
    margin-bottom: 5px;
}

.shop3-content .shop-now:hover {
    color: rgb(49, 47, 52);
}




/*******        Business        ********/






.boxer {
    border: 2px solid black;
    background-color: white;
    width: 350px;
    height: 150px;
    margin-top: 20px;
    padding: 15px;
    border: none;
    overflow-wrap: anywhere;
}

.business-card {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    padding: 20px;
}


.business-text h2 {
    font-size: 1.3rem;
    margin-bottom: 10px;
}


.register {
    font-size: 0.9rem;
    color: #1560BD;
    text-decoration: none;
} 

.register:hover {
    color: rgb(49, 47, 52);
    text-decoration: underline;
}

.business-logo {
    background-image: url("./images/wholesale.jpg");
    height: 180px;
    width: 180px;
    background-size: contain;
    background-repeat: no-repeat;
   background-position: center;
   cursor: pointer;
}





/****     SHOP 4   SECTION     ****/






.lastshop-section {
    background-color: rgb(213, 218, 218);
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    gap: 20px;
    margin-bottom: 25px;
}

.shop4-content h2 {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.shop4-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    row-gap: 20px;
}

.shop4-img {
    aspect-ratio: 4 / 3;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    margin-bottom: 5px;
}

.shop4-grid p {
    font-size: 0.8rem;
}

.shop4-content {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
}

.shop4-content .explore {
    font-size: 0.9rem;
    color: #1560BD;
    margin-top:25px;
    margin-bottom: 5px;
    cursor: pointer;
    text-decoration: none;
}

.shop4-content .explore:hover {
    color: rgb(49, 47, 52);
}






/****     SHOP 5   SECTION     ****/





.shop5-content h2 {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.shop5-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    row-gap: 20px;
}

.shop5-img {
    aspect-ratio: 4 / 3;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    margin-bottom: 5px;
}

.shop5-grid p {
    font-size: 0.8rem;
}

.shop5-content {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.shop5-content .see-offers {
    font-size: 0.9rem;
    color: #1560bd;
    margin-top: 20px;
    margin-bottom: 5px;
    cursor: pointer;
    text-decoration: none;
}

.shop5-content .see-offers:hover {
    color: rgb(49, 47, 52);
}





/****     SHOP 6   SECTION     ****/






.shop6-content h2 {
    font-size: 1.2rem;
    margin-bottom: 25px;
}

.shop6-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    row-gap: 20px;
}

.shop6-img {
    aspect-ratio: 4 / 3;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    margin-bottom: 5px;
}

.shop6-grid p {
    font-size: 0.8rem;
}

.shop6-content {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.shop6-content .see-all-offers {
    font-size: 0.9rem;
    color: #1560BD;
    margin-top: auto;
    display: inline-block;
    margin-bottom: 5px;
    cursor: pointer;
    text-decoration: none;
}

.shop6-content .see-all-offers:hover {
    color: rgb(49, 47, 52);
}






/****     SHOP 7   SECTION     ****/




.shop7-content h2 {
    font-size: 1.2rem;
    margin-bottom: 25px;
}

.shop7-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    row-gap: 20px;
}

.shop7-img {
    aspect-ratio: 4 / 3;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    margin-bottom: 5px;
}

.shop7-grid p {
    font-size: 0.8rem;
}

.shop7-content {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}

.shop7-content .explore {
    font-size: 0.9rem;
    color: #1560BD;
    margin-top: auto;
    display: inline-block;
    margin-bottom: 5px;
    cursor: pointer;
    text-decoration: none;
}

.shop7-content .explore:hover {
    color: rgb(49, 47, 52);
}

.lastshop-section .box {
    margin-top: 0;
}

.shop-section {
    padding: 10px 20px 10px; /* top | sides | bottom */
}

.lastshop-section {
    padding: 10px 20px 0px; /* top | sides | bottom */
}

.lastshop-section {
    padding-bottom: 0px;
    padding-top: 15px;
}




/****     LAST PANEL   SECTION     ****/




.middle {
    background-color: rgb(213, 218, 218);
}
.last-panel {
    display: flex;
    justify-content: center;
    padding: 0px 20px 20px;
    gap: 20px;
    margin-bottom: 25px;
    overflow-wrap: anywhere;
}

 .bike-content {
    margin: 0px 5px 5px;
    width: 100%;
    height: 310px;
}

.bike-text {
    display: flex;
}

.bike-content h2 {
    font-size: 1.2rem;
    margin-top: 20px;
}

.bike-content a {
    margin-top: 24px;
    margin-left: 15px;
    font-size: 0.9rem;
    color:#1560BD;
    text-decoration: none;
}

.bike-content a:hover {
    text-decoration: underline;
}

.bike-content .bike-flex {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    align-items: center;
    margin-top: 30px;
}

.bike-flex .bike-img {
    background-size: cover;
    background-position: center;
    aspect-ratio: 1 / 1;
    width: 100%;
    height: 180px;
    cursor: pointer;
}




/****     FOOTER  1    ****/




.footer-1 {
    background-color: #37475a;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:50px;
    margin-top: 20px;
}

.footer-1 p {
    font-size: 0.9rem;
    color: white;
    cursor: pointer;
}

.footer-1:hover {
    background-color: #455163;
}




/****     FOOTER  2    ****/




.footer-2 {
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    background-color: #222f3d;
    height: 350px;

}

.footer-2 .sec {

    height: 350px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-2 h3 {
    color: white;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 8px;
    
}

.footer-2 a {
    color: rgb(214, 212, 212);
    font-size: 0.9rem;
    text-decoration: none;
}

.footer-2 a:hover {
    text-decoration: underline;
}





/****     FOOTER  3    ****/


.footer-3 {
    height: 130px;
    background-color: #222f3d;
    border-top: 0.1px solid #424b54;
}

.footer3-content {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.logo .amazon-logo {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 90px;
    height: 40px;
    margin-top: 10px;
    cursor: pointer;
}

.footer3-text {
    display: flex;
    gap: 8px;
}

.language {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #4b5563;
    border-radius: 5px;
    padding: 0px 8px;
    gap: 8px;
    cursor: pointer;
}

.language span {
    color: white;
    font-size: 0.8rem;
}

.language .arrow {
    margin-left: 17px;
}

.language i {
    color: white;
}

.region {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #4b5563;
    border-radius: 5px;
    padding: 0px 30px 0px 8px;
    gap: 8px;
    cursor: pointer;
}

.region img {
    width: 20px;
}

.region span {
    color: white;
    font-size: 0.8rem;
}







/****     FOOTER  4    ****/







.services {
  display: grid;
  grid-template-columns: repeat(4, 0.15fr);
  justify-content: center;
  column-gap: 10px;
  row-gap: 20px;
  background: #131a22;
  padding: 40px;
}

.service-box a {
  color: #ddd;
  font-size: 0.8rem;
  text-decoration: none;
  font-weight: 200;
}

.service-box span {
  display: block;
  color: #999;
  font-size: 0.7rem;
  line-height: 1.4;
}

.service-box a:hover {
  text-decoration: underline;
}

.service-box span:hover {
  text-decoration: underline;
  cursor: pointer;
}






/****     FOOTER  5    ****/




.footer-5 {
    background-color: #131a22;
    height: 100px;
}

.last-footer {
    padding-top: 20px;
}

.up {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-bottom: 7px;
}

.down {
    text-align: center;
}
.last-footer a, p {
    font-size: 0.8rem;
    color: white;
    text-decoration: none;
}

.last-footer a:hover {
    text-decoration: underline;
    cursor: pointer;
}




@media (max-width: 768px) {

  /* -------- NAVBAR -------- */
  body {
    padding-top: 110px;
  }

  .navbar {
    flex-wrap: wrap;
    height: auto;
    padding: 10px;
    gap: 10px;
  }

  .nav-location,
  .nav-country,
  .nav-sign-in,
  .nav-orders {
    display: none; /* hide non-essential items */
  }

  .nav-search {
    width: 100%;
    margin: 5px 0;
  }

  .nav-cart {
    margin-right: 10px;
    font-size: 24px;
  }

  /* -------- PANEL -------- */
  .panel {
    overflow-x: auto;
    white-space: nowrap;
  }

  .panel-options {
    justify-content: flex-start;
    gap: 15px;
    padding: 0 10px;
  }

  /* -------- HERO -------- */
  .hero-section {
    height: 220px;
    background-position: center;
  }

  /* -------- SHOP SECTIONS -------- */
  .shop-section,
  .lastshop-section {
    flex-direction: column;
    align-items: center;
  }

  .box,
  .boxer {
    width: 100%;
    max-width: 400px;
  }

  .shop1-grid,
  .shop2-grid,
  .shop4-grid,
  .shop5-grid,
  .shop6-grid,
  .shop7-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  /* -------- BUSINESS CARD -------- */
  .business-card {
    flex-direction: column;
    text-align: center;
  }

  .business-logo {
    width: 120px;
    height: 120px;
  }

  /* -------- LAST PANEL -------- */
  .bike-content {
    height: auto;
  }

  .bike-text {
    flex-direction: column;
    gap: 10px;
  }

  .bike-flex {
    flex-wrap: wrap;
  }

  .bike-img {
    height: 120px;
  }

  /* -------- FOOTER 2 -------- */
  .footer-2 {
    flex-direction: column;
    height: auto;
    padding: 20px 0;
    gap: 30px;
  }

  .footer-2 .sec {
    margin-top: 0;
    height: auto;
    align-items: center;
    text-align: center;
  }

  /* -------- FOOTER 4 -------- */
  .services {
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
  }

  /* -------- FOOTER 5 -------- */
  .up {
    flex-wrap: wrap;
    gap: 10px;
  }
}




@media (max-width: 480px) {

  h2 {
    font-size: 1rem;
  }

  .shop1-grid,
  .shop2-grid,
  .shop4-grid,
  .shop5-grid,
  .shop6-grid,
  .shop7-grid {
    grid-template-columns: 1fr;
  }

  .hero-section {
    height: 180px;
  }

  .service-box a {
    font-size: 0.7rem;
  }

  .service-box span {
    font-size: 0.6rem;
  }
}
